.Register{
    padding: 0;
    margin: 0;
}
.Register nav .link{
   color: white;
    margin-left: 1200px;
    text-decoration: none;
}

.Register nav{
    display:flex;
    
   
    align-items: center;
    height: 10vh;
    background-color: rgb(70, 10, 236);
}

#container1{
    /* margin: auto; */
    display: flex;
    justify-content: center;
    width:430px;
    align-items: center;
    background-color: aliceblue;
    /* padding-right: -2px; */
    /* margin-left: 20px; */
}

.container{
    margin: auto;
    /* margin-top: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    
   
    /* background-color: gray; */
    /* box-shadow: 0 0 8px rgba(0,0,0,0.2); */
    /* padding:20px; */
    /* border-radius: 6px; */
    
    
}

#btn12{
    text-size-adjust: 12px;
    border: none;
    background-color: rgb(111, 0, 255);
    color: white;
    margin-top: 10px;
    
}

.container input{
    margin: auto;
    padding: 7px;
    margin-top: 10px;
    width:80%;
    border: none;
    /* color:white; */
    border-radius: 5px;
    background-color: rgb(204, 195, 201);
    margin-left: 30px;
}
.container h2{
    padding: 0;
    margin:-1px;
    color:white
}

/* .modal-body{
    display: flex;
    justify-content: center;
} */
.container button{
    padding:10px;
    margin-top: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 130px;
   
}
.login{
    color:blue;
    text-decoration: none;
    
}


.login a{
    color:black;
}


 nav{
    padding-right: 70px;
    padding-left: 70px;
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    background-color: rgb(70, 10, 236);
    color: white;
}



   .Register nav .link1{
   
     color: white;
     text-decoration: none;
     background-color: brown;
     padding: 10px;
     border:none;
     border-radius: 5px;

 }

  .Dashboard nav .nav-com{
    
    display: flex;
    justify-content: center;
    gap:12px;
    float:right;
    align-items: center;
    color: white;
 }

 .Register nav .nav-com1{
    
    display: flex;
    justify-content: center;
    gap:15px;
    float: right;
    align-items: center;
    color: white;
 }


 .Dashboard nav img{

     width:30px;
     margin-right: 20px;
     border:1px solid white;
     border-radius: 50%;
 }

 .Register nav img{

    width:30px;
    margin-right: 20px;
    border:1px solid white;
    border-radius: 50%;
 }

 .Register table{
    margin:auto;
    width:1200px;
    border: 1px solid black;
    /* display: flex; */
  
    border-collapse: collapse;
    /* border-collapse: collapse; */
    
 }
.Register table th{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: aqua;
    padding: 10px;
 }

 .Register table tr{
   
    text-align: center;
    border: 1px solid black;
    
 }

 .Register table td{
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    
     
    
 }

 

  
.card1{
    margin-top: 20px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width:700px;
    gap: 100px;
}

.card1 .img{
    width:300px;
}

.card1 .img img{
    width:250px;
}
.text{
    text-align: justify;
    
}

.text button{
    background-color: blue;
    color:white;
    border: none;
    border-radius: 5px;
    padding: 8px;
}

.text h5{
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 500;
    
}




/* .Register .container{
    padding:50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
     flex-wrap: wrap;
     flex-direction: row;
 } */

 
